<tr>	
	<td><%= customer.cust_num %></td>
	<td><%= link_to customer.name, customer %></td>
	<td><%= link_to "Edit", edit_customer_path(customer)%></td>
	<td><%= button_to "Delete", customer_path(customer), {method: :delete, confirm: "Are you sure you want to delete this customer?"}%></td>
</tr>
