@import "bootstrap";
$maincolor: rgb(255, 255, 255);

h1 {
	text-align: center;
}

a:hover {
	text-decoration: none;
}

.btn, .form-control {
	margin-bottom: 10px;
}

.btn {
	float: left;
	margin-right: 10px;
}

.shipcontainer {
	background: $maincolor;
	border: 2px solid #eee;
	text-align: center;
	margin: 10px;
	height: 125px;
	overflow: hidden;
}

.shiprow { 
	max-height: 300px;
	overflow: scroll;
}
